<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/Style1.css"/>
	</head>
	<body>
		<nav>
			<div id="navBar">
				REGISTER HERE...
			</div>
		</nav>
		<div class="container">
			<div>
				<form method=POST action="{{ url_for('register') }}">
					<label class="inputLabel">Username:</label>
					<input type="text" class="form-control" name="username" placeholder="Enter Username..." required>
					<br>
					<br>
					<label class="inputLabel">Password:</label>
					<input type="password" class="form-control" name="pass" placeholder="Enter Password..." required>
					<br>
					<button type="submit" id="submitButton">Register</button>
				</form>
			</div>
		</div>
	</body>
</html>

